$dark-primary: #000212;
$dark-secondary: #030418;
$text-primary: #ffffffd6;
$text-secondary: #8f98b2;
$blue: #1d4ed8;
$skyblue: #3586f0;

body {
  background-color: $dark-primary;
  scroll-behavior: smooth;

  // Header
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: $dark-primary;
    height: 75px;
    // TODO: Add an user select to none.

    .logo {
      a {
        text-decoration: none;
        cursor: pointer;

        img {
          width: 32px;
          height: 32px;
          border-radius: 60%;
          position: relative;
          bottom: 5px;
        }

        span {
          color: $blue;
          font-size: 24px;
          font-weight: 600;
          // TODO: Add a font family for logo-text.
        }
      }
    }

    .menu {
      display: flex;

      a {
        color: $text-primary;
        padding: 0 5px 0 35px;
        font-size: 16px;
        transition: all 0.3s;

        &:hover {
          color: $blue;
          transform: scale(1.1);
        }
      }
    }

    .cv-file {
      a {
        font-size: 14px;
        color: $blue;
        text-decoration: none;
        border: 2px solid $blue;
        border-radius: 25px;
        padding: 8px 24px;
        background-color: $dark-primary;
        transition: all 0.3s ease-in-out;

        &:hover {
          background-color: $blue;
          color: $text-primary;
        }
      }
    }

    .hamburger-menu {
      display: none;
      cursor: pointer;
      flex-direction: column;
      justify-content: space-between;
      height: 15px;

      .bar {
        width: 20px;
        height: 3px;
        border-radius: 25px;
        background-color: $text-primary;
        transition: all 0.3s;
      }
    }

    @media only screen and (max-width: 768px) {

      .hamburger-menu {
        display: flex;

        &.active {
          .bar:nth-child(1) {
            transform: rotate(-45deg) translate(-4px, 4.5px);
          }

          .bar:nth-child(2) {
            opacity: 0;
          }

          .bar:nth-child(3) {
            transform: rotate(45deg) translate(-4px, -4.5px);
          }
        }
      }

      .menu {
        z-index: 999;
        display: none;
        flex-direction: column;
        position: absolute;
        top: 75px;
        left: 0;
        width: 100%;
        height: 85vh;
        text-align: center;
        background-color: $dark-primary;

        a {
          padding: 25px;
          display: block;
        }
      }

      .cv-file {
        z-index: 999;
        display: none;
        flex-direction: column;
        align-items: center;
        position: absolute;
        top: 420px;
        left: 0;
        width: 100%;
        text-align: center;
        background-color: $dark-primary;
        
        a {
          font-size: 14px;
        }
      }
    }
  }

  // Home
  #home {
    text-align: center;

    .hero {
      position: relative;
      top: 0px;
      z-index: -1;
      margin-top: 40px;

      img {
        width: 150px;
        height: 150px;
        border-radius: 60%;
        margin-bottom: 40px;
      }

      h1 {

        span {
          color: $blue;
        }
        color: $text-primary;
        font-size: 40px;
        font-weight: 700;
      }

      p {
        color: $text-secondary;
        line-height: 27px;
      }

      button {
        border: none;
        border-radius: 25px;
        padding: 8px 16px;
        margin: 1px;
        background: linear-gradient(to right, $blue, $skyblue);

        a {
          text-decoration: none;
          font-size: 16px;
          color: $text-primary;
        }
      }
    }
  }
}
