.sass{
    h1{
        color: green;
    }
    p{
        color: purple;
    }

    .indiv{
        h1{
            color: darkcyan;
        }
        p{
            color: red;
        }
    }
}

button {
    border-radius: 25px;
    border: 2px solid darkcyan;

    &:hover {
        background-color: darkcyan;
    }
}